<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="d-flex bd-highlight p-1 mb-2 bg-dark">
    <div class="p-2 flex-grow-1 bd-highlight">
                    <span class="text-white fs-5" th:object="${user}">
                        <span class="fw-bold"></span>
                            roles: <span th:each="role : ${user.getRoles()}"
                                         th:switch="${role.getRole()}">
                                                <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                                <span th:case="'ROLE_USER'">USER</span>
                                        </span>
                    </span>
    </div>
    <div class="btn btn-link">
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" class="btn btn-link link-secondary" value="Logout"/>
        </form>
    </div>
</div>

<div align="center">
    <h2>New user</h2>
    <form action="saveUser" method="post" modelAttribute="user">
        <table border="0" cellpadding="5">
            <tr>
                <td>Name: </td>
                <td><input name="name" /></td>
            </tr>
            <tr>
                <td>Surname: </td>
                <td><input name="surname" /></td>
            </tr>
            <tr>
                <td>Year of birth: </td>
                <td><input name="yearOfBirth" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>