<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="left">
    <form th:method="GET" th:action="@{/logout}" th:object="${user}">
                    roles: <span th:each="role : ${user.getRoles()}"
                                 th:switch="${role.getRole()}">
                                                <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                                <span th:case="'ROLE_USER'">USER</span>
                                        </span>
                <p>
                    <input type="submit" value="Logout"/>
                </p>
    </form>
</div>

<div align="center">
    <h2>Your data</h2>
    <form modelAttribute="user">
        <table border="0" cellpadding="5">
            <tr>
                <td>Name:</td>
                <td><input name="name" th:value="${user.name}" readonly/></td>
            </tr>
            <tr>
                <td>Year of birth:</td>
                <td><input name="yearOfBirth" th:value="${user.yearOfBirth}" readonly/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>