<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid text-white">
            <span class="navbar-header">
                <span th:text="${principalUser.getEmail()}"></span>
                <span> with roles: </span>
                <span th:each="role : ${principalUser.getRoles()}"
                      th:text="${role.getRole().replace('ROLE_', '') + ' '}">
                </span>
            </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav>
                <div class="bd-toc-item ">
                    <a>Admin</a>
                </div>
                <div class="bd-toc-item ">
                    <a href="/user/">User</a>
                </div>
            </nav>
        </div>

        <div class="col-md bg-light p-4">

            <h2>Admin panel</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2">New user</a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="border tab-pane  fade show active" id="tab1">
                    <div class="border-bottom p-3"><h5>All users</h5></div>
                    <div class="bg-white p-3">
                        <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <block th:each="user : ${listUsers}">
                                <tr>
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td>
                                        <block th:each="role : ${user.getRoles()}">
                                            <pre th:text="*{role.getRole()}"></pre>
                                        </block>
                                    </td>

                                    <td>
                                        <a th:href="@{/admin/edit?id={id}(id=${user.getId()})}">Edit</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/delete?id={id}(id=${user.getId()})}">Delete</a>
                                    </td>

                                </tr>

                            </block>
                        </table>
                    </div>
                </div>

                <div class="border tab-pane fade " id="tab2">
                    <div class="border-bottom p-3">
                        <h5>Add new user</h5>
                    </div>
                    <div class="bg-white p-3">
                        <a href="/admin/add">Add user</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<!--<div align="center">-->
<!--    <h2>User manager</h2>-->
<!--    <h3><a href="/user/">My data</a></h3>-->
<!--    <h3><a href="/admin/new">New user</a></h3>-->
<!--    <table border="1" cellpadding="5">-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>Name</th>-->
<!--            <th>Year of birth</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        <tr th:each="User: ${listUsers}">-->
<!--            <td th:text="${User.id}"/>-->
<!--            <td th:text="${User.name}"/>-->
<!--            <td th:text="${User.yearOfBirth}"/>-->
<!--            <td>-->
<!--                <a th:href="@{/admin/edit?id={id}(id=${User.getId()})}">Edit</a>-->
<!--                <a th:href="@{/admin/delete?id={id}(id=${User.getId()})}">Delete</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>